*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primary-clr: rgb(249,243,232);
    --secondary-clr: #050A30;
    --dark-orange-clr: #FF5733;
}

body,html{
    font-family: Arial, Helvetica, sans-serif;
    background: #f4f4f4;
    font-weight: 500;
    line-height: 1.5;
    color: #000;
    overflow-x: hidden;
}


ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: #555;
}

p{
    color: #555;
}

img{
    width: 100%;
}

.container{
    max-width: 1300px;
    margin-inline: auto;
    padding-inline: 20px;
}


.navbar{
    height: 80px;
    background: var(--primary-clr);
    width: 100%;
}

.nav-flex{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-flex h1{
    font-size: 2.3rem;
}

.nav-flex ul{
    height: 100%;
}

.nav-flex li{
    display: inline-block;
    margin: 0 10px;
    font-weight: bold;
}

.nav-flex .nav-list{
    display: flex;
}

.hamburger{
    display: none;
    cursor: pointer;
}

.nav-flex .nav-list .hamburger .line{
    display: block;
    height: 3px;
    width: 30px;
    margin: 5px 0;
    background-color: #000;
}


/* SHOWCASE */

.showcase{
    height: 600px;
    background: var(--primary-clr);

}

.showcase-content{
    height: 100%;
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    flex-basis: 50%;
}

.showcase-text{
    flex: 4;
   margin-top: 1rem;
}

.showcase-text h1{
    font-size: 3rem;
}

.showcase-text p{
    font-weight: bold;
    margin: 20px 0;
}

.showcase-text a{
    border: 1px solid #000;
    border-radius: 15px;
    padding: .7rem 1rem;
    
}

.showcase-image{
    flex: 6;
    margin-top: 5rem;
}

.showcase-image img{
    height: 500px;
    margin-left: 2rem;
}

/* UNDER SHOWCASE */

.under-showcase{
    padding-top: 4rem;
}

.under-showcase .grid-images{
    margin: 0 auto;
    display: grid;
    gap: 3rem;
    grid-template-columns: repeat(3,1fr);
    max-width: 900px;
    align-items: center;
    

}

.grid-images img{
    height: 300px;
    background-color: #ebecf0;
}

/* FEATURED AREA */

.featured{
    padding-top: 4rem;
}

.featured .featured-products{
    margin-bottom: 2rem;
}

.featured .featured-products .featured-text{
    text-align: center;
}

.featured .featured-products .featured-bar{
    display: flex;
    width: 220px;
    margin: 1rem auto;
    border: 1px solid var(--dark-orange-clr);
}

.featured .featured-products .featured-images{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 1rem;
    text-align: center;
    font-weight: bold;
    justify-content: center;
    margin-top: 2rem;
}

.featured .featured-products .featured-images i{
    color: var(--dark-orange-clr);
}

.featured .featured-products .featured-images img{
    height: 350px;
    transition: transform 0.4s ease-in-out;
    box-shadow: 0px 5px 10px #d3d3d3;
    border-radius: 10px;
}

.featured .featured-products .featured-images img:hover{
    transform: translateY(-15px);
}

.featured .featured-products .featured-images a{
    text-decoration: underline;
}

/* OTHER-PRODUCTS */

.other-products .featured-text{
    text-align: center;
    margin: 2rem;
}

.other-products .featured-text h1{
    margin: 1rem;  
}

.other-products .featured-text .featured-bar{
    width: 220px;
    margin-inline: auto;
    border: 1px solid var(--dark-orange-clr);
}

.other-products .other-products-images{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 1rem;
    text-align: center;
    margin-bottom: 1rem;
    font-weight: bold;
}

.other-products .other-products-images a{
    text-decoration: underline;
}

.other-products .other-products-images i{
    color: var(--dark-orange-clr);
}

.other-products .other-products-images img{
    background-color: #fff;
    height: 300px;
    transition: transform 0.4s ease-in-out;
    box-shadow: 0px 5px 10px #d3d3d3;
    border-radius: 10px;
}

.other-products .other-products-images img:hover{
    transform: translateY(-15px);
}

/* SHOWCASE-TWO */

.showcase-two{
    margin: 4rem 0;
    height: 500px;
    background-color: var(--primary-clr);
}
.showcase-two-flex{
    display: flex;
    gap:1rem;
    flex-wrap: wrap;
    align-items:center;
    justify-content: center;
}

.showcase-two .showcase-two-image{
    flex: 1;
}

.showcase-two .showcase-two-text{
    flex: 1;
}

.showcase-two .showcase-two-text h1{
    font-size: 2rem;
    margin: 1rem 0;
}

.showcase-two .showcase-two-text p{
    margin-bottom: 1.5rem;
}

.showcase-two .showcase-two-text a{
    border: 1px solid #555;
    padding: .7rem 1rem;
    border-radius: 10px;
}


.showcase-two img{
    width: 500px;
    height: 500px;
}

/* Testimonial */
.testimonial{
    margin-bottom: 3rem;
}
.testimonial-content h1{
    text-align: center;
}

.testimonial-content .featured-bar{
    display: flex;
    width: 220px;
    margin: 1rem auto;
    border: 1px solid var(--dark-orange-clr);
}

.testimonial-content .testimonial-flex{
    display: flex;
    flex-direction: row;
    gap: 2rem;
    max-width: 900px;
    align-items: center;
    justify-content: center;
    margin-inline: auto;
    margin-top: 2rem;
}

.testimonial-content .testimonial-flex .testimonial-card{
    text-align: center;
    padding: 3rem 1rem;
    box-shadow: 0px 5px 10px #d3d3d3;
    border-radius: 10px;
}

.testimonial-content .testimonial-flex .testimonial-card img{
    border-radius: 50%;
    height: 60px;
    width: 60px;
    margin: 1rem;
}

.testimonial-content .testimonial-flex .testimonial-card p{
    font-size: 14px;
}

/* ABOUT-PAGE */

.about-content{
    padding: 2rem 0;
}

.about-content h1{
    text-align: center;
}

.about-content .featured-bar{
    display: flex;
    width: 220px;
    margin: 1rem auto;
    border: 1px solid var(--dark-orange-clr);
}

.main-article{
    line-height: 1.6;
    border-radius: 10px;
    box-shadow: 0px 5px 10px #d3d3d3;
    padding: 1rem;
    background-color: var(--primary-clr);
}

.main-article > :nth-child(2){
    padding-top: 3rem;
}

.right-about{
    line-height: 1.6;
    border-radius: 10px;
    box-shadow: 0px 5px 10px #d3d3d3;
    padding: 1rem;
    background-color: var(--primary-clr);
}

.about-grid-content{
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(3,1fr);
    padding: 1.5rem;
    justify-content: center;
}

.about-grid-content > :nth-child(1){
    grid-column: span 2;
}

.main-article h2,p,
.right-about h2,p{
    margin-bottom: 1rem;
}


/* FOOTER */

.foot{
    background-color: var(--secondary-clr);
    height: 150px;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  
}

.foot .footer-links ul{
    display: flex;
    margin-top: 1.5rem;
}

.foot .footer-links ul li{
    padding: 0 1rem;
}

.foot .footer-links ul li a{
    color: #fff;
}


/* MEDIA QUERIES TAB */

@media (max-width:768px) {

    /* NAV QUERIES */

    .hamburger{
        display: block;
    }

    .hamburger.active .line:nth-child(2){
        opacity: 0;
    }
    .hamburger.active .line:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .line:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-list .navmenu{
        display: flex;
        flex-direction: column;
        padding-top: 2rem;
        position: absolute;
        left: 0;
        top: -100%;
        height: 350px;
        background-color: var(--secondary-clr);
        opacity: 0.95;
        width: 100%;
        text-align: center;
        transition: 0.3s;
        border-radius: 15px;
    }

    .navmenu.active{
        top: 70px;
        animation: slidetop 1s ease-in-out;
    }


    .nav-flex li{
        color: #fff;
        margin: 1rem 0;
    }
    
    /* SHOWCASE QUERIES */

    .showcase{
        height: 500px;
    }

    .showcase.active{
        margin-top: 330px;
        animation: slidetop 1000ms ease-in-out;
    }

    @keyframes slidetop {
        0%{
            transform: translateY(-100%);
        }

        100%{
            transform: translateY(0);
        }
    }

    .showcase-text{
        text-align: center;
    }

    .showcase-text p{
        margin-bottom: 2.5rem;
    }

    .showcase-image{
        display: none;
    }
    .under-showcase .grid-images{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        max-width: 400px;
    }

    /* FEATURED QUERIES */
    .featured .featured-products .featured-images{
        grid-template-columns: repeat(2,1fr);
    }

    /* OTHER PRODUCTS */

    .other-products .other-products-images{
        grid-template-columns: repeat(2,1fr);
    }

    .other-products .other-products-images img{
        height: 250px;
    }

    /* SHOWCASE TWO */
    .showcase-two-flex{
        text-align: center;
        padding-top: 9rem;
    }

    .showcase-two-image{
        display: none;
    }

    /* TESTIMONIAL */
    
    .testimonial-content .testimonial-flex{
       flex-direction: column;
       width: 300px;
       gap: 3rem;
    }
    
    /* ABOUT-PAGE */

    .about-grid-content{
        grid-template-columns: 1fr;
    }

    .about-grid-content > :nth-child(1){
        grid-column: span none;
    }

    .about-content.active{
        margin-top: 330px;
        animation: slidetopabout 1000ms ease-in-out;
    }

  @keyframes slidetopabout {
    0%{
        transform: translateY(-10%);
    }

    100%{
        transform: translateY(0);
    }
  }
}

/* MEDIA QUERIES PHONE */

@media (max-width:500px){
    .nav-logo h1{
        font-size: 1.7rem;
    }

    .nav-flex li{
        margin-inline: 3px;
    }

    .nav-flex ul{
        background-color: rgba(0, 0, 0, 0.1);
        width: 350px;
    }

    .showcase{
        height: 600px;
    }

    .showcase .showcase-text{
        margin-top: 4rem;
    }
   
    .under-showcase .grid-images{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }

    .featured .featured-products .featured-images{
        grid-template-columns:1fr;
    }

    .other-products .other-products-images img{
        height: 200px;
    }

    .showcase-two{
        height: 400px;
    }

    .showcase-two-flex{
        text-align: center;
        padding-top: 5rem;
    }


    .foot{
        text-align: center;
    }

}

